/* здесь используйте глобальные селекторы img, body, html и так далее */
.common-container {
  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.container-wider {
  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.container-without-margin {
  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

a {
  text-decoration: none;
}
