//font
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

//viewport
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 320px;

//color
$white: #ffffff;
$black: #000000;
$green: #68b738;
$grey: #f2f2f2;
$grey-3: #ebebeb;
$grey-1: #cdcdcd;
$grey-2: #666666;
$dark-grey: #444444;
$dark-grey-2: #222222;
$status-error: #ff8282;
$green-2: #5eaa2f;

