.additional-goods-item__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-goods-item__characteristic {
  font-size: 14px;
  line-height: 14px;
}
