.page-header__button {
  background-color: $white;
  background-image: url("../icons/menu-mobile.svg");
  background-repeat: no-repeat;
  background-size: 24px 16px;
  border: none;
  width: 24px;
  height: 24px;
}

.page-header__button--close {
  background-image: url("../icons/menu-close-mobile.svg");
}
