.find-program {
  position: relative;
  font-family: $headers-font;
  font-weight: 400;
  color: #000000;
  padding-top: 28px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: calc(((100vw - 320px) / 2) * -1);
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;

    @media (min-width: $viewport-tablet) {
      display: none;
    }
  }

  @media (min-width: $viewport-tablet) {
    padding-top: 65px;
  }

  @media (min-width: $viewport-desktop) {
    padding-top: 23px;
  }
}

.find-program__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $viewport-tablet) {
    padding-left: 40px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: $viewport-desktop) {
    padding-left: 0;
    margin-bottom: 55px;
  }
}

.find-program__subscription {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 39px;
  width: 226px;

  @media (min-width: $viewport-tablet) {
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    width: 323px;
  }

  @media (min-width: $viewport-desktop) {
    padding-left: 0;
  }
}

.form-find-program__input-text::-webkit-inner-spin-button,
.form-find-program__input-text::-webkit-outer-spin-button {
  appearance: none;
}

.form-find-program__input-text {
  appearance: textfield;
}
