.food-description {
  background-color: $basic-white;
  color: $basic-black;
}

.food-description__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.food-description__title {
  margin: 0;
  margin-left: 1px;
  margin-bottom: 40px;
  line-height: 40px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.food-description__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding-left: 80px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    flex-flow: row wrap;
    gap: 37px 156px;
    margin-bottom: 92px;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
    margin-bottom: 69px;
  }
}

.food-description__item {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 227px;
    padding: 141px 13px 47px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 151px 0 57px;
  }
}

.food-description__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  width: 60px;
  height: 60px;
  background-color: $basic-green;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 40px;
    left: 0;
  }
}

.description-item--first {
  @media (min-width: $desktop-width) {
    width: 230px;
    padding-right: 26px;
    margin-right: 94px;
  }
}

.description-item--first::before {
  background-image: url("../../icons/description-item-first.svg");
  background-size: 60px 60px;
}

.description-item--second {
  @media (min-width: $desktop-width) {
    width: 246px;
    padding-right: 22px;
    margin-right: 79px;
  }
}

.description-item--second::before {
  background-image: url("../../icons/description-item-second.svg");
  background-size: 60px 60px;
}

.description-item--third {
  @media (min-width: $desktop-width) {
    width: 248px;
    padding-right: 41px;
    margin-right: 77px;
  }
}

.description-item--third::before {
  background-image: url("../../icons/description-item-third.svg");
  background-size: 60px 60px;
}

.description-item--fourth {
  @media (min-width: $desktop-width) {
    width: 246px;
  }
}

.description-item__text span {
  display: inline-block;
  margin-left: 1px;
}

.description-item--fourth::before {
  background-image: url("../../icons/description-item-fourth.svg");
  background-size: 60px 60px;
}

.description-item__text {
  margin: 0;
}
