.food-description {
  box-sizing: border-box;
  padding-bottom: 24px;
}

.food-description__title {
  @include mp-reset();
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  align-self: start;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.food-description__list {
  @include list-style-reset();
  display: flex;
  flex-direction: column;
  counter-reset: list-number 0;
  gap: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-flow: wrap;
    gap: 77px 100px;
    max-width: 1439px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    column-gap: 81px;
  }
}

.food-description__item {
  position: relative;
  width: 100%;
  min-height: 60px;
  counter-increment: list-number 1;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $green-2;
    background-position: center;
    background-size: 30px 32px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 40%;

    &::after {
      position: absolute;
      content: counter(list-number);
      font-family: $secondary-font;
      font-size: 280px;
      color: $grey;
      top: 90px;
      left: 116px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 20%;
  }
}

.food-description__item--first::before {
  background-image: url("../../icons/stack.svg#description-item-first");
}

.food-description__item--second::before {
  background-image: url("../../icons/stack.svg#description-item-second");
}

.food-description__item--third::before {
  background-image: url("../../icons/stack.svg#description-item-third");
}

.food-description__item--fourth::before {
  background-image: url("../../icons/stack.svg#description-item-fourth");
}

.food-description__text {
  position: relative;
  color: $black;
  margin: 0;
  margin-left: 80px;
  margin-top: 2px;
  width: 200px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    padding: 109px 0 57px;
    z-index: 1;
    width: 245px;
  }
}

.food-description__item-fourth-text-down {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
