.header-inner {
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-inline: 30px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    padding-top: 55px;
    padding-bottom: 51px;
    padding-inline: 110px;
  }
}

.header-inner__container {
  min-width: 320px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.header-inner__header-container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.header-inner__header {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;
  width: 280px;
  padding-inline: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: start;
    width: 174px;
    margin: 0;
    padding-inline: 0;
    padding-top: 0;
    gap: 11px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.header-inner__hero {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 708px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0;
  }
}

