.main-content__hero-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 302px;
    background-image: url("../../images/hero_background_wider_mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, transparent 50%, $green-1 50%);

    &::after {
      left: 50%;
      top: auto;
      bottom: 0;
      height: 694px;
      background-image: url("../../images/cat-big@1x.jpg");
      background-size: cover;
      background-position: bottom left;
    }
  }
}
