.page-header {
  &--index {
    @media (min-width: $desktop-width) {
      background-image: url("../images/cat-big@1x.jpg"), linear-gradient(90deg, $white 50%, $green 50%);
      background-size: cover;
      background-position: calc(50% + 360px) center, center;
      background-repeat: no-repeat;
         }
  }
}
